
AMControlToolButton#wigglerGapButton {

}

AMControlToolButton#shutterButton {
border-image: url(:/shutterIcon2.png) 5 5 5 5 stretch stretch;
}

AMControlToolButton#valveButton {
border-image: url(:/valveIcon2.png);
}

AMControlToolButton#mirrorButton {
border-image: url(:/mirror-icon1.png);
}

AMControlToolButton#monoButton {
border-image: url(:/mono-icon5.png);
}
