/* Default styling. */

BioXASValueSetpointEditor {
margin: 0px;
padding: 0px;
}

BioXASValueSetpointEditor[inputStatus="1"] {
border-width: 2px;
border-style: solid;
border-color: red;
border-radius: 2px;
}
