# Version 20600
# Scan "newScan" 2 onStart:1
# Control "reixsHost:Energy" start:390 delta:40 final:430 active:7
# Action Begin SetPV "reixsHost:fast:trigger" "0"
# Action Begin CallEvent "fillHeader" 1
# Action Begin SetPV "reixsHost:scanning" "Scanning"
# Action Begin SetPV "dave:fastShutter:V" "0"
# Action Begin Delay 0.1
# Action Begin SetPV "dave:scalar:start" "1"
# Action Begin Delay 0.1
# Action Dwell Delay 0.5
# Action Finish CallEvent "readData" 1
# Action Finish SetPV "dave:fastShutter:V" "5"
# Action Finish SetPV "reixsHost:fast:trigger" "1"
# Action Finish SetPV "reixsHost:scanning" "Not Scanning"
# Event "readData" 1
# datastream columns: eventID, absolute/relative time stamps
# eventID:1 AbsTime:0 Rel0Time:0 relPTime:0
# commentPrefix: 0
# PV 0: "reixsHost:Energy" disable:0 format:"%3.6e" spectrum:0 ready:0
# PV 1: "reixsHost:sdd:spectrum" disable:0 spectrum:1 ready:2
#
# Event "fillHeader" 2
# datastream columns: eventID, absolute/relative time stamps
# eventID:1 AbsTime:1 Rel0Time:0 relPTime:0
# commentPrefix: 1
# PV 0: "reixsHost:Energy" disable:0 format:"Crystal=%g" spectrum:0 ready:0
#
# Event "fillFooter" 3
# datastream columns: eventID, absolute/relative time stamps
# eventID:1 AbsTime:0 Rel0Time:0 relPTime:0
# commentPrefix: 1
#
# File: "/home/11-2521/data/August_2010/20" sequence:0 time:0 datedir:0
# Template: "Cont_Test_%d.dat"
# Sequence: 7
# Header: 0
# SpectrumFormat: 2
